<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879498274464-pb4eredqir7nov8sa32gq6h1hr6m83cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879498274464-pb4eredqir7nov8sa32gq6h1hr6m83cc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879498274464-ckrvc46mued4ujtg11qlrov1ic7m2vt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD21IWe1Mye9MlGgAa-Ogj-ax4y8hVGU9U</string>
	<key>GCM_SENDER_ID</key>
	<string>879498274464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.8weekapp.Hellotter</string>
	<key>PROJECT_ID</key>
	<string>hellotter-ecec8</string>
	<key>STORAGE_BUCKET</key>
	<string>hellotter-ecec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879498274464:ios:827a608987a4bd7ec14bc5</string>
	<key>DATABASE_URL</key>
	<string>https://hellotter-ecec8.firebaseio.com</string>
</dict>
</plist>